@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #799869;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

header {
    background-color: #799869;
    height: 90px;
}
/* heading with logo */
#logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

#logo img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

h1, h2 {
    text-transform: uppercase;
}

/* navigation links */

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 60px;
}


#menu {
    float: right;
    list-style-type: none;
    margin: 20px;
}

ul li {
    float: left;
    margin-left: 20px;   
}

#menu a {
    text-decoration: none;
    color: #721907;
    font-weight: 600;
}

#menu a:hover {
    border-bottom: 1px solid #2c0511;
}

.active {
    border-bottom: 1px solid #2c0511;
}

/* hero-image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image-resized.jpg') center center;
}

#cover-text {
    color: #fff;
    font-size: 130%;
    text-transform: uppercase;

    width: 600px;
    height: 200px;

    padding-top: 20px;

}