@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #799869;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

header {
    background-color: #799869;
    height: 90px;
}

/* heading with logo */
#logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    height: 120px;
}

#logo img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

/* navigation links */

#menu {
    font-size: 120%;
}

#menu {
    line-height: 60px;
    float: right;
    list-style-type: none;
    margin: 20px;
}

ul li {
    float: left;
    margin-left: 20px;   
}

#menu a {
    text-decoration: none;
    color: #400E02;
    font-weight: 600;
}

#menu a:hover {
    border-bottom: 2px solid #400E02;
}

.active {
    border-bottom: 2px solid #400E02;
}

/* hero-image and cover text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image-resized.jpg') center bottom;
    overflow: hidden;
    position: relative;
}

#cover-text {
    color: #fff;
    font-size: 130%;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.2;

    width: 500px;
    height: 130px;

    padding: 15px 12px 15px 12px;
    background-color: rgb(214, 66, 36, .6);

    bottom: 0px;
    right: 80px;

    position: absolute;
}

/* flexbox */

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: #D4F4FF;*/
    background-color: #F6EDD9;
    background-image: url('../images/gallery-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.flexbox-container p {
    font-size: 120%;
}

.flexbox-item {
    width: 450px;
    margin: 10px;
    padding: 10px;
    background-color: #75976D;   
}

.icon {
    font-size: 150%;
}

/* footer and social network buttons */

footer {
    height: 90px;
    background-color: #E1FFD8;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-platforms > li {
    display: inline;
    margin: 0;
    padding: 0 30px;
    font-size: 150%;
}

.social-platforms i {
    color: #721907;
}

/* sign up form */

.form-section {
    background-image: url("../images/gallery-4.jpg");
    background-size: cover;
    background-position: bottom;
    height: 750px;
}
 
.signup-form {
    margin: 90px 10% 0 0;
    color: #fff;
    background-color: rgb(63, 74, 60, .7);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 5%;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #721907;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 25px 10px 25px;
    font-size: 100%;
    text-align: center;
    background-color: #721907;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #721907;
}

/* gallery */

#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background-color: #D4F4FF;
}

#pictures > img {
    width: 100%;
}
/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #cover-text {
    width: 500px;
    height: 130px;
    bottom: 2500px;
    right: 50px;

    position: absolute;
    }

    #pictures {
        column-count: 4;
    }

    #pictures > img {
        width: 100%;
    }
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    
    #cover-text {
        width: 300px;
        height: 220px;
    
        padding: 15px 12px 15px 12px;

        bottom: 550px;
        right: 40px;
    
        position: absolute;
    }

    #pictures {
        column-count: 2;
    }

    #pictures > img {
        width: 120%;
    }
}

/* For smallish screen sizes below 800px width */

@media screen and (max-width: 800px) {

    #pictures {
        column-count: 1;
    }

    #pictures > img {
        width: 100%;
    }

}

/* For small screen sizes like iPhone and Samsung Galaxy below 400px width */

@media screen and (max-width: 400px) {
    #cover-text {
        font-size: 100%;
        width: 300px;
        height: 130px;
    
        padding: 10px;

        bottom: 360px;
        right: 30px;
    
        position: absolute;
    }

    .social-platforms > li {
        display: inline;
        padding: 0 20px;
        font-size: 120%;
    }
}